.max-width {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
	
	/* border-spacing fix (part 2) */
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 10px;
}

#container:after {
	clear: left;
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
}

.item {
	border: 1px solid rgba(0,0,0, .07);
	box-shadow: 0 0 6px 1px rgba(0,0,0, .11);
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin: 0 0 10px 1%;
	padding: 10px;
	width: 24.25%;	/* (25% width - 1% margin) + (1% removed margin / 4 columns) */
}

.item > img {
	display: block;
	height: auto;
	width: 100%;
}

.item:first-child, .item:nth-child(5n) {
	clear: left;
	margin-left: 0;	/* the removed margin */
}

.item:nth-child(2n)		{ background-color:#f6f6f6; }
.item:nth-child(2n-1)	{ background-color:#eaeaea; }

.wrecker {
	border-spacing: 10px;
	margin: 0 -10px;	/* border-spacing fix (part 1) */
	min-width: 100%;	/* not perfect, but just in case there isn't enough content */
}

.wrecker-cell {
	vertical-align: top;
	width: 25%;
}

/* responsive styles */

@media (max-width: 1024px) {
	.item				{ width:32.66%; }	/* (33.33% width - 1% margin) + (1% removed margin / 3 columns) */
	.item:nth-child(4n) { clear:left; margin-left:0; }
	.item:nth-child(5n) { clear:none; margin-left:1%; }
	
	.wrecker-cell		{ width:33.33%; }
}

@media (max-width: 800px) {
	.item				{ width:49.5%; }	/* (50% width - 1% margin) + (1% removed margin / 2 columns) */
	.item:nth-child(5n) { margin-left:0; }
	.item:nth-child(3n) { clear:left; margin-left:0; }
	.item:nth-child(2n) { clear:none; margin-left:1%; }
	
	.wrecker-cell		{ width:50%; }
}

@media (max-width: 640px) {
	.item				{ float:none; margin-left:0 !important; width:100%; }
}